<p class="perk">
  <%= link_to "#{colored_google} #{sanitize @perk.phrase}", root_path, :title => 'Click for another...' %>
</p>

<div id="inspiration">
  Inspired by:
  <%= link_to "Barack Obama is Your New Bicycle", "http://barackobamaisyournewbicycle.com/" %>
  (<%= link_to "The book", "http://icanhaz.com/new_bicycle" %>)
  <img src="http://www.assoc-amazon.com/e/ir?t=ceedubinfo-20&amp;l=as2&amp;o=1&amp;a=1592404162" width="1" height="1" alt="" style="display:none" />
</div>
