<p class="perk">
  <%= link_to %Q[<b class="g">G</b><b class="o1">o</b><b class="o2">o</b><b class="g">g</b><b class="l">l</b><b class="e">e</b>
      #{h @perk.phrase}],
    perks_path %>
</p>

<%= analytics -%>
