<p class="perk">
  <%= link_to "#{colored_google} #{sanitize @perk.phrase}", root_path %>
</p>

<div id="inspiration">
  Inspired by: <a href="http://barackobamaisyournewbicycle.com/">Barack Obama is Your New Bicycle</a> (<a href="http://icanhaz.com/new_bicycle">book</a><img src="http://www.assoc-amazon.com/e/ir?t=ceedubinfo-20&l=as2&o=1&a=1592404162" width="1" height="1" alt="" />)
</div>

<%= analytics -%>
