<h2>Something new:</h2>

<%- form_for(@perk) do |f| -%>
<%= render :partial => 'form', :locals => {:form => @perk} %>
<p><%= f.submit "Add" %></p>
<%- end -%>

<p><%= link_to 'Editor', editor_perks_url %></p>
