body {
background-color: #fff;
color: #333;
font: 76% verdana,helvetica,arial,sans-serif;
}
p,ol,ul,td {
font-size: 1em;
}
.g {
color: #75D4FA;
}
.o1, .e {
color: #FFB1D9;
}
.o2 {
color: #EDD859;
}
.l {
color: #A5DD3E;
}
a {
color: #000;
}
a:visited {
color: #666;
}
a:hover {
color: #fff;
background-color: #000;
}
p.perk {
color: #666;
font: bold 9em/1.1 helvetica,arial,sans-serif;
margin: 8px;
text-transform: uppercase;
}
p.perk a:link,
p.perk a:visited,
p.perk a:hover,
p.perk a:active,
p.perk b {
text-decoration: none;
font-weight: bold;
border: none;
}
p.perk a:hover,
p.perk a:active {
color: inherit;
background-color: inherit;
}
#inspiration {
position: absolute;
bottom: 0.4em;
right: 0.25em;
font-size: 0.8em;
text-transform: uppercase;
color: #aaa;
}
#inspiration a {
color: #888;
}
#inspiration a:hover {
color: #333;
background-color: inherit;
}
.mini-border {
border: none;
border-bottom: 1px solid #ccc;
font-size: 1em;
}
