body {
margin: 0;
padding: 0;
background-color: #fff;
color: #333;
font: 76% helvetica,arial,sans-serif;
}
p,ol,ul,td {
font-size: 1em;
}
.g {
color: #75D4FA;
}
.o1, .e {
color: #FFB1D9;
}
.o2 {
color: #EDD859;
}
.l {
color: #A5DD3E;
}
p.perk {
color: #666;
font-weight: bold;
font-size: 9em;
margin: 8px;
text-transform: uppercase;
}
a:link,
a:visited,
a:active,
b {
color: #888;
text-decoration: none;
font-weight: bold;
border: none;
}
a:hover {
color: #555;
}
#inspiration {
position: absolute;
bottom: 0.4em;
right: 0.25em;
font-size: 0.8em;
font-weight: normal;
text-transform: uppercase;
color: #bbb;
}
#inspiration a:link,
#inspiration a:visited {
font-weight: normal;
color: #999;
}
#inspiration a:hover {
color: #333;
}
.editor .intro {
border: none;
border-bottom: 1px solid #ccc;
font-size: 1em;
}
.editor p,
.editor ol,
.editor ul,
.editor td  {
font-size: 1.2em;
}
.editor a:link,
.editor a:visited,
.editor a:hover,
.editor a:active {
font-weight: normal;
color: #999;
}
.editor a:hover {
text-decoration: underline;
}