<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<!-- Hey, I'm Cameron Walters. This site was just a fun little waste of time inspired by Mat Honan, author of Barack Obama is Your New Bicycle. You can reach me at ceedub@me.com -->
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Google is your new mom</title>
  <%= stylesheet_link_tag "css" %>
</head>
<body <%= @body_class ? %Q{ class="#{@body_class}"} : '' %>>
  <%= yield -%>
</body>
</html>
