<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<!-- Hey, I'm Cameron Walters, and Google is not my new mom, but it might be my new bicycle. -->
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Google is your new mom</title>
  <%= stylesheet_link_tag "css" %>
</head>
<body>
  <%= yield -%>
</body>
</html>
